.App {
  text-align: center; }

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: yellow; }

table {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse; }

td {
  height: 10px;
  width: 10px;
  border: 1px solid black;
  margin: 0px; }

button {
  margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none; }

.startBtn {
  background-color: #00ff00; }

.stopBtn {
  background-color: #cc3300; }

.clearBtn {
  background-color: #cccccc; }

.empty {
  background-color: #9999cc; }

.old {
  background-color: #990000; }

p {
  color: red; }
